/* ================================================================ about_header CSS  */

/* for mobile (Default)*/

/* for tablet */
@media screen and (min-width: 768px) {
}

/* for desktop */
@media screen and (min-width: 1440px) {
}

/* ================================================================ about_section1 CSS  */

/* for mobile (Default)*/
.about_section1 {
  background-color: var(--primaryMG);
  color: var(--primaryW);
  font-family: var(--primaryFont);
  background-image: url(../images/bg-pattern-about-1-mobile-nav-1.svg);
  background-repeat: no-repeat;
  background-position: right -100px bottom -100px;
}

.about_section1--heading {
  padding: 80px 0px 16px 0px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

.about_section1 .container1 {
  position: relative;
}

.figure_above_text {
  visibility: hidden;
  position: absolute;
}

.about_section1--text {
  text-align: center;
  padding: 0px 24px 0px 24px;
  font-style: normal;
  font-size: 15px;
  line-height: 28px;
  font-weight: 600;
}
.about_section1--text p {
  padding-bottom: 108px;
}

/* for tablet */
@media screen and (min-width: 768px) {
  .about_section1 {
    background-position: right -100px bottom -0px;
  }

  .about_section1--heading {
    padding: 112px 40px 34px 45px;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
  }

  .about_section1--text {
    padding: 0px 153px 0px 158px;
  }

  .about_section1--text p {
    padding-bottom: 102px;
  }

  .about_section1--figure {
    height: 200px;
  }
}

/* for desktop */
@media screen and (min-width: 1440px) {
  .about_section1 .container1 {
    display: flex;
    justify-content: space-between;
    padding: 120px 165px 0px 165px;
    gap: 30px;
    margin: 0px;
  }

  .container2 {
    display: flex;
    flex-direction: column;
  }

  .figure_above_text {
    visibility: visible;
    position: static;
    width: 50px;
    height: 4px;
    background-color: #f67e7e;
  }

  .about_section1--text {
    text-align: left;
    padding: 40px 0px 120px 0px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
  }
  .about_section1--text p {
    padding: 0px;
  }

  .about_section1--heading {
    padding: 0px;
    text-align: left;
    font-size: 64px;
    flex: 0 0 350px;
    line-height: 100px;
  }
}

/* ================================================================ about_section2 CSS  */

/* for mobile (Default)*/

.about_section2_svg {
  overflow: hidden;
  position: absolute;
  width: 100px;
  height: 100px;
}

.about_section2_svg svg {
  position: relative;
  top: -100px;
  left: -100px;
}

.about_section2 {
  background-color: #004047;
}

.about_section2 h1 {
  color: var(--primaryW);
  font-family: var(--primaryFont);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  padding-top: 88px;
  padding-bottom: 48px;
}

.cards-position {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.card {
  background-color: #012f34;
  width: 327px;
  height: 253px;
  margin: 0 0 52px 0;
  padding: 35px 24px 63px 24px;
}

.card:last-child {
  margin-bottom: 16px;
}

.profile_img img {
  width: 96px;
  height: 96px;
  border: 2px solid #c4fffe;
  border-radius: 360px;
  margin-bottom: 16px;
}

.profile_img {
  display: flex;
  justify-content: center;
}

.card .a-side .profile_name,
.card .b-side .profile_name {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  font-family: var(--primaryFont);
  color: var(--secondaryRB);
}

.card .a-side .position {
  font-family: var(--primaryFont);
  color: var(--primaryW);
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}

.quote {
  font-family: var(--primaryFont);
  margin-top: 8px;
  color: var(--primaryW);
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  padding-left: 22px;
  padding-right: 22px;
}

.card .b-side .icons svg:first-child {
  width: 24px;
  height: 19.5px;
}

.card .b-side .icons svg:last-child {
  width: 24px;
  height: 20px;
}

.card .b-side .icons {
  padding: 24px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.card .b-side .icons path {
  fill: white;
  transition: all 0.3s;
}

.card .b-side .icons svg:hover path {
  fill: #f67e7e;
  cursor: pointer;
}

.cross {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  top: 15%;
  width: 56px;
  height: 56px;
  border-radius: 360px;
  background-color: #f67e7e;

  border: none;
}

.about_section2_svgb {
  display: flex;
  justify-content: flex-end;
}

.about_section2_svgb svg {
  width: 147px;
  height: 100px;
}

.card .button:hover,
.card .button.active {
  background-color: var(--secondaryRB);
  cursor: pointer;
}

.card .button.active svg {
  transform: rotate(45deg);
}

.hidden {
  display: none;
}

.card .button.active {
  top: 21%;
}

.card .button.active:hover {
  background-color: #f67e7e;
}

/* for tablet */
@media screen and (min-width: 768px) {
  .profile_name,
  .quote,
  .icons {
    width: auto;
  }

  .about_section2_svg {
    height: 200px;
  }

  .about_section2_svg svg {
    top: 0px;
  }

  .about_section2 h1 {
    padding-top: 100px;
    padding-bottom: 48px;
  }

  .cards-position {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 11px;
    justify-content: center;
  }

  .card .button {
    top: 15%;
  }

  .card {
    margin-bottom: 76px;
    width: 281px;
    padding: 35px 23px 63px 23px;
  }

  .last,
  .card:last-child {
    margin-bottom: 28px;
  }

  .card .button.active {
    top: 21%;
  }

  .quote {
    padding-left: 0;
    padding-right: 0;
  }
}

/* for desktop */
@media screen and (min-width: 1440px) {
  .about_section2 h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    padding-top: 140px;
    padding-bottom: 64px;
  }

  .cards-position {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    justify-content: center;
  }

  .card {
    margin-bottom: 76px;
    width: 350px;
    padding: 35px 24px 63px 24px;
  }

  .quote {
    padding: 0 24px 0 24px;
  }

  .last,
  .card:last-child {
    margin-bottom: 68px;
  }

  .card .button {
    top: 16%;
  }

  .card .button.active {
    top: 22%;
  }
}

/* ================================================================ about_section3 CSS  */

/* for mobile (Default)*/
.about_container3 {
  background-color: var(--secondarySSG);
  color: var(--primaryW);
  font-family: var(--primaryFont);
  height: 632px;
  width: 100%;
  padding: 88px 24px;
  text-align: center;
}
.about_clients {
  margin: 64px auto 0px auto;
  height: 360px;
  width: 162px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.client_box-1 img {
  width: 146.56px;
  height: 24.19px;
}

.client_box-2 img {
  width: 162.21px;
  height: 19.92px;
}

.client_box-3 img {
  width: 159.37px;
  height: 24.19px;
}

.client_box-4 img {
  width: 146.56px;
  height: 24.19px;
}

.client_box-5 img {
  width: 86.8px;
  height: 39.84px;
}

.about_first_line {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
}

.about_pattern-4 {
  display: flex;
  order: 1;
  position: absolute;
  overflow: hidden;
}

.about_pattern-4 img {
  position: relative;
  width: 200px;
  height: 200px;
  top: -100px;
  left: -100px;
}
/* for tablet */
@media screen and (min-width: 768px) {
  .about_container3 {
    height: 308px;
    width: 100%;
    padding: 100px 40px;
    text-align: center;
  }

  .about_clients {
    margin: 48px auto 100px auto;
    height: 28px;
    width: 689px;
    display: flex;
    flex-direction: row;
    gap: 48.5px;
    align-items: center;
  }

  .client_box-1 img {
    width: 103px;
    height: 17px;
  }

  .client_box-2 img {
    width: 114px;
    height: 14px;
  }

  .client_box-2 {
    align-self: flex-start;
    padding-top: 4px;
  }

  .client_box-3 img {
    width: 112px;
    height: 17px;
  }

  .client_box-4 img {
    width: 103px;
    height: 17px;
  }

  .client_box-5 img {
    width: 61px;
    height: 28px;
  }

  .about_pattern-4 {
    display: flex;
    order: 1;
    position: absolute;
    overflow: hidden;
  }

  .about_pattern-4 img {
    position: relative;
    width: 200px;
    height: 200px;
    top: -100px;
    left: 0px;
  }
}

/* for desktop */
@media screen and (min-width: 1440px) {
  .about_container3 {
    height: 437px;
    width: 100%;
    padding: 140px 165px;
    text-align: center;
  }

  .about_clients {
    margin: 64px auto 140px auto;
    height: 45px;
    width: 1110px;
    gap: 79.8px;
  }

  .client_box-1 img {
    width: 165px;
    height: 28px;
  }

  .client_box-2 img {
    width: 184px;
    height: 23px;
  }

  .client_box-2 {
    align-self: flex-start;
    padding-top: 7px;
  }

  .client_box-3 img {
    width: 180px;
    height: 28px;
  }

  .client_box-4 img {
    width: 165px;
    height: 28px;
  }

  .client_box-5 img {
    width: 98px;
    height: 45px;
  }

  .about_first_line {
    font-size: 48px;
    line-height: 48px;
  }

  .about_pattern-4 img {
    position: relative;
    width: 200px;
    height: 200px;
    top: 0px;
    left: 0px;
  }
}
/* ================================================================ about_banner CSS  */

/* for mobile (Default)*/
.banner {
  position: relative;
  width: 100%;
  background: #f67e7e;
  height: 302px;
}

.banner_line {
  display: flex;
  padding-top: 83px;
  flex-direction: column;
  gap: 24px;
}

.banner_firstLine {
  position: relative;
  margin-left: 24px;
  margin-right: 24px;
  height: 64px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  color: #012f34;
}

.banner_btn {
  border: none;
  color: #012f34;
  text-decoration: none;
  display: inline-block;
}

.banner_text {
  font-size: 18px;
  line-height: 28px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  padding: 7px 31px 9px 30px;
}

.banner_contact_us {
  width: 153px;
  height: 48px;
  border: 2px solid #012f34;
  border-radius: 24px;
}

.banner_contact_us:hover {
  background: #012f34;
  color: #ffffff;
}

.banner_link {
  margin: auto;
  z-index: 1;
}

.banner_bg-pattern-home-6 {
  position: relative;
  margin-top: -39px;
  mix-blend-mode: normal;
  opacity: 1;
  z-index: 0;
}
.banner_bg-pattern-home-6 img {
  width: 200px;
  height: 144px;
}
/* for tablet */
@media screen and (min-width: 768px) {
  .banner {
    height: 200px;
  }

  .banner_line {
    padding-top: 69px;
    flex-direction: row;
    gap: 0px;
  }

  .banner_firstLine {
    position: relative;
    width: 336px;
    margin: 15px 41px 15px 97px;
    text-align: left;
    height: 32px;
  }

  .banner_link {
    margin-right: 98px;
    position: relative;
  }

  .banner_bg-pattern-home-6 {
    margin-top: -53px;
  }
}

/* for desktop */
@media screen and (min-width: 1440px) {
  .banner_line {
    padding-top: 61px;
  }

  .banner_firstLine {
    width: 504px;
    margin: 15px 130px 15px 263px;
    float: left;
    height: 48px;
    font-size: 48px;
    line-height: 48px;
  }

  .banner_link {
    margin-right: 260px;
  }

  .banner_bg-pattern-home-6 {
    margin-top: -83px;
  }
}

/* ================================================================ about_section3 CSS  */

/* for mobile (Default)*/

/* for tablet */
@media screen and (min-width: 768px) {
}

/* for desktop */
@media screen and (min-width: 1440px) {
}

/* ================================================================ about_banner CSS  */

/* for mobile (Default)*/

/* for tablet */
@media screen and (min-width: 768px) {
}

/* for desktop */
@media screen and (min-width: 1440px) {
}

/* ================================================================ about_footer CSS  */

/* for mobile (Default)*/

/* for tablet */
@media screen and (min-width: 768px) {
}

/* for desktop */
@media screen and (min-width: 1440px) {
}
