/* ================================================================ contact_header CSS  */

/* for mobile (Default)*/

/* for tablet */
@media screen and (min-width: 768px) {
}

/* for desktop */
@media screen and (min-width: 1440px) {
}

/* ================================================================ contact_section CSS  */

/* for mobile (Default)*/
.contact_section-container {
  display: flex;
  flex-direction: column;

  background-color: var(--primaryMG);
}

#contact_section-figure-1 {
  display: flex;

  position: absolute;

  visibility: hidden;
}

#contact_section-figure-1 img {
  width: 200px;
  height: 200px;
}

.contact_section {
  display: flex;
  flex-direction: column;

  order: 1;
}

.contact_section-div1 {
  display: flex;

  order: 1;

  justify-content: center;
}

.contact_section-miniDiv {
  display: flex;
  flex-direction: column;
}

.contact_section-heading {
  display: flex;
  flex-direction: column;

  order: 1;
}

#contact_section-title {
  order: 1;

  margin-top: 80px;
  margin-left: 24px;
  margin-right: 24px;

  font-family: var(--primaryFont);
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;

  text-align: center;

  color: var(--primaryW);
}

#contact_section-text {
  order: 2;

  margin-top: 16px;
  margin-left: 87.5px;
  margin-right: 87.5px;

  font-family: var(--primaryFont);
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;

  text-align: center;

  color: var(--primaryLC);
}

.contact_section-info {
  display: flex;
  flex-direction: column;

  order: 2;
}

#personIcon {
  display: flex;
  flex-direction: row;

  margin-top: 39px;
}

#gearIcon {
  display: flex;
  flex-direction: row;

  margin-top: 24px;
}

#graphIcon {
  display: flex;
  flex-direction: row;

  margin-top: 22px;
}

#face {
  margin-left: 31px;
  width: 72px;
  height: 72px;
}

#gear {
  margin-left: 24px;
}

#gear img {
  width: 72px;
  height: 72px;
}

#graph {
  margin-left: 24px;
}

#graph img {
  width: 72px;
  height: 72px;
}

#face_text {
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 24px;

  font-family: var(--primaryFont);
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;

  text-align: left;

  color: var(--primaryW);
}

#gear_text {
  margin-top: 8px;
  margin-left: 23px;
  margin-right: 24px;

  font-family: var(--primaryFont);
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;

  text-align: left;

  color: var(--primaryW);
}

#graph_text {
  margin-top: 8px;
  margin-left: 23px;
  margin-right: 24px;

  font-family: var(--primaryFont);
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;

  text-align: left;

  color: var(--primaryW);
}

.contact_section-div2 {
  display: flex;
  flex-direction: column;

  order: 2;
}

#contact_section-form {
  display: flex;

  margin-top: 53px;

  order: 1;

  justify-content: center;
}

#name,
#email,
#companyName,
#title {
  width: 292px;
  height: 25px;

  margin-left: 40px;
  margin-right: 24px;
  margin-bottom: 16px;

  padding: 0;

  font-family: var(--primaryFont);
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;

  text-align: left;

  border: none;
  outline: none;

  color: var(--primaryW);
  background: transparent;

  opacity: 0.6;
}

#message {
  margin-left: 40px;
  margin-right: 24px;
  margin-bottom: 8px;

  padding: 0;

  font-family: var(--primaryFont);
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;

  text-align: left;

  border: none;
  outline: none;

  color: var(--primaryW);
  background: transparent;

  opacity: 0.6;
}

.formBar {
  display: flex;

  width: 325px;
  height: 1px;

  margin-bottom: 24px;
  margin-left: 26px;
  margin-right: 24px;

  background-color: var(--primaryW);
}

#contact_section-button {
  display: flex;

  order: 2;

  justify-content: center;
}

#contact_section-button input {
  width: 123px;
  height: 48px;

  margin-top: -1px;
  margin-left: 24px;
  margin-right: 228px;

  border: none;
  border-radius: 24px;

  font-family: var(--primaryFont);
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;

  color: var(--secondaryDJG);
  background-color: var(--primaryW);
}

#contact_section-figure-2 {
  display: flex;

  order: 2;

  margin-top: -26px;
  margin-bottom: -111px;
  margin-left: 275.5px;
  margin-right: -100px;

  justify-content: end;

  overflow: hidden;
}

#contact_section-figure-2 img {
  width: 200px;
  height: 225px;
}

/* for tablet */
@media screen and (min-width: 768px) {
  #contact_section-figure-1 {
    position: absolute;

    margin-top: 104px;
    margin-left: -100px;

    visibility: visible;

    overflow: hidden;
  }

  #contact_section-title {
    margin-top: 112px;
    margin-left: 262.5px;
    margin-right: 257.5px;

    font-size: 64px;
    line-height: 56px;
  }

  #contact_section-text {
    margin-top: 24px;
    margin-left: 284px;
    margin-right: 284px;
  }

  #personIcon {
    margin-top: 24px;
  }

  #gearIcon {
    margin-top: 7px;
  }

  #graphIcon {
    margin-top: 6px;
  }

  #face {
    margin-left: 133.3px;
    margin-right: -6px;
  }

  #gear {
    margin-left: 127px;
  }

  #graph {
    margin-left: 127px;
  }

  #face_text {
    margin-top: 22px;
    margin-left: 22px;
    margin-right: 126px;
  }

  #gear_text {
    margin-top: 23px;
    margin-right: 126px;
  }

  #graph_text {
    margin-top: 23px;
    margin-right: 126px;
  }

  #contact_section-form {
    margin-top: 62px;
  }

  #name,
  #email,
  #companyName,
  #title {
    width: 540px;

    margin-left: 142px;
    margin-right: 113px;
  }

  #message {
    width: 540px;

    margin-top: 0px;
    margin-left: 142px;
    margin-right: 113px;
  }

  .formBar {
    width: 540px;

    margin-left: 127px;
    margin-right: 113px;
  }

  #contact_section-button input {
    margin-top: -1px;
    margin-left: 112px;
    margin-right: 532px;

    padding: 0px;
  }

  #contact_section-figure-2 {
    margin-top: -109px;
    margin-bottom: -3px;
    margin-left: 668.5px;
    margin-right: -100px;
  }
}

/* for desktop */
@media screen and (min-width: 1440px) {
  .contact_section {
    flex-direction: row;
  }

  #contact_section-figure-1 {
    margin-top: 124px;
    margin-bottom: 344px;
  }

  #contact_section-title {
    margin-top: 120px;
    margin-left: 165px;
    margin-right: 0px;

    font-size: 64px;
    line-height: 100px;

    text-align: left;
  }

  #contact_section-text {
    margin-top: 16px;
    margin-left: 165px;
    margin-right: 0px;

    text-align: left;
  }

  #personIcon {
    margin-top: 32px;
  }

  #face {
    margin-left: 172.03px;
  }

  #gear {
    margin-left: 165px;
  }

  #graph {
    margin-left: 165px;
  }

  #face_text {
    margin-right: 32px;
  }

  #gear_text {
    margin-right: 0px;
  }

  #graph_text {
    margin-right: 0px;
  }

  #contact_section-form {
    margin-top: 120px;
  }

  #name,
  #email,
  #companyName,
  #title {
    margin-left: 98px;
    margin-right: 63.5px;
  }

  #message {
    margin-left: 98px;
    margin-right: 63.5px;
  }

  .formBar {
    margin-left: 83px;
    margin-right: 63.5px;
  }

  #contact_section-button input {
    margin-top: -0.1px;
    margin-left: 117px;
    margin-right: 532px;

    padding: 0;
  }

  #contact_section-figure-2 {
    margin-top: -108px;
    margin-bottom: 1px;
    margin-left: 1340.5px;
    margin-right: -101px;
  }
}

/* ================================================================ contact_footer CSS  */

/* for mobile (Default)*/

/* for tablet */
@media screen and (min-width: 768px) {
}

/* for desktop */
@media screen and (min-width: 1440px) {
}
