/* ================================================================ Home_header CSS  */
/* for mobile (Default)*/
header {
  background-color: var(--primaryMG);
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-top: 48px;
  padding-right: 24px;
  align-items: center;
}

.navbar {
  --bs-navbar-toggler-focus-width: none;
  position: relative;
}

.nav {
  display: none;
}

.header-button {
  display: none;
}

.navbar-toggler {
  border: none;
  cursor: pointer;
}

.offcanvas {
  background-color: var(--secondaryPB);
  max-width: 255px;
}

.offcanvas-header {
  margin: 0;
  width: 18px;
  height: 17px;
  padding-left: 212px;
  padding-top: 56px;
  padding-right: 25px;
  padding-bottom: 39px;
}

.btn-close {  
  opacity: 1;
  background: transparent;
  cursor: pointer;}

.pattern {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 467px;
  left: 155px;
}

.nav-link {
  font-family: var(--primaryFont);
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--primaryW);
  text-decoration: none;
  margin-left: 31px;
}

.nav-link:hover {
  color: var(--primaryLC);
}

.contact-button {
  display: inline-block;
  background-color: transparent;
  border: 2px solid var(--primaryW);
  height: 48px;
  width: 159px;
  padding: 8px 33px;
  border-radius: 24px;
  margin-left: 31px;
  margin-top: 36px;
  cursor: pointer;
  font-family: var(--primaryFont);
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: var(--primaryW);
}

.contact-button:hover{
  background-color: var(--primaryW);
  color: var(--secondaryDG);
}

.navbar {
  --bs-navbar-padding-y: none;
}

.logo {
  width: 126px;
  height: 32px;
  top: 48px;
  left: 24px;
}

/* for tablet */
@media screen and (min-width: 768px) {
  header {
    padding-left: 35px;
    padding-right: 40px;
    padding-top: 64px;
  }

  .navbar-toggler,
  .offcanvas,
  .offcanvas-backdrop.fade.show {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
  }

  .navbar {
    flex-grow: 2;
    padding-left: 46px;
  }

  .nav a {
    font-family: var(--primaryFont);
    font-weight: 600;
    font-size: 18px;
    color: var(--primaryW);
  }

  .nav a:hover {
    color: var(--primaryLC);
  }

  .nav-link {
    padding-top: 9px;
  }

  .header-button {
    display: inline;
    background-color: transparent;
    border: 2px solid var(--primaryW);
    height: 48px;
    width: 153px;
    text-align: center;
    text-decoration: none;
    border-radius: 24px;
    font-family: var(--primaryFont);
    font-weight: 600;
    font-size: 18px;
    color: var(--primaryW);
    padding-top: 9px;
    line-height: 28px;
    cursor: pointer;
  }

  .header-button:hover {
    background-color: var(--primaryW);
    color: var(--primaryDG);
  }
}

/* for desktop */
@media screen and (min-width: 1440px) {
  .logo {
    width: 157.5px;
    height: 40px;
    top: 48px;
    left: 24px;
  }

  .nav {
    display: flex;
    justify-content: flex-start;
    width: 900px;
    height: 48px;
  }
}

/* ================================================================ home_section1 CSS  */

/* for mobile (Default)*/
.home_section1-container {
  background-color: var(--primaryMG);
}

.home_section1 {
  display: flex;
  flex-direction: column;

  align-content: center;
}

.home_section1-div1 {
  display: flex;
  flex-direction: column;
}

#home_section1-figure-1 {
  display: flex;

  position: absolute;

  visibility: hidden;
}

#home_section1-figure-1 img {
  width: 200px;
  height: 200px;
}

#home_section1-title {
  order: 1;

  margin-top: 80.42px;
  margin-left: 24px;
  margin-right: 24px;

  font-family: var(--primaryFont);
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;

  text-align: center;

  color: var(--primaryW);
}

#home_section1-title span {
  color: var(--primaryLC);
}

.home_section1-div2 {
  display: flex;
  flex-direction: column;
}

#colorbar {
  visibility: hidden;
}

#home_section1-article {
  order: 2;

  margin-top: 18px;
  margin-left: 24px;
  margin-right: 24px;

  font-family: var(--primaryFont);
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;

  text-align: center;

  color: var(--primaryW);
}

#home_section1-figure-2 {
  display: flex;

  margin-top: 97px;
  margin-left: 9px;
  margin-right: 8px;
}

#home_section1-figure-2 img {
  width: 358px;
  height: 100px;
}

/* for tablet */
@media screen and (min-width: 768px) {
  #home_section1-title {
    margin-top: 119px;
    margin-left: 45px;
    margin-right: 40px;

    font-size: 64px;
    line-height: 56px;
  }

  #home_section1-article {
    margin-top: 24px;
    margin-left: 155px;
    margin-right: 156px;

    line-height: 28px;
  }

  #home_section1-figure-2 {
    margin-top: 156px;
    margin-left: 206px;
    margin-right: 204px;
  }
}

/* for desktop */
@media screen and (min-width: 1440px) {
  .home_section1 {
    display: flex;
    flex-direction: row;
  }

  .home_section1-div1 {
    display: flex;
    flex-direction: row;
    flex-basis: 900px;

    order: 1;
  }

  #home_section1-figure-1 {
    position: relative;

    order: 1;

    margin-top: 129px;
    margin-left: -100px;

    visibility: visible;
  }

  #home_section1-title {
    order: 2;

    margin-top: 129px;
    margin-left: 65px;

    font-size: 100px;
    line-height: 100px;

    text-align: left;
  }

  .home_section1-div2 {
    display: flex;
    flex-direction: column;
    flex-shrink: 5.6;

    order: 2;
  }

  #colorbar {
    width: 50px;
    height: 4px;

    margin-top: 129px;
    margin-left: 30px;

    background-color: var(--secondaryRB);

    visibility: visible;
  }

  #home_section1-article {
    margin-top: 79px;
    margin-left: 30px;
    margin-right: 165px;

    font-size: 18px;
    line-height: 28px;

    text-align: left;
  }

  #home_section1-figure-2 {
    margin-top: 150px;
    margin-left: 917px;
    margin-right: 165px;
  }
}

/* ================================================================ home_section2 CSS  */

/* for mobile (Default)*/
.home_section2 {
  background-color: var(--secondarySSG);
  font-family: var(--primaryFont);
  padding-left: 24px;
  display: flex;
  flex-direction: column;
}

.home_section2 .content {
  display: flex;
  flex-direction: column;
}

.home_section2 .separator {
  margin-top: 64px;
  margin-bottom: 32px;
  width: 50px;
  height: 4px;
  background-color: var(--primaryLC);
}

.home_section2 .head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.home_section2 .head-info {
  width: 66%;
}

.home_section2 .bg-holder {
  width: 100px;
  height: 244px;
  background-image: url("../images/bg-pattern-home-3.svg");
  background-repeat: no-repeat;
  background-size: 200% 100%;
}

.home_section2 h1 {
  color: var(--primaryW);
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

.team-features {
  margin: 36px 24px 64px 0;
}

.team-features .item {
  text-align: center;
  margin-top: 28px;
}

.home_section2 img {
  height: 72px;
  width: 72px;
  margin: 20px 20px 16px 20px;
}

.home_section2 h4 {
  color: var(--primaryLC);
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.home_section2 p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
}

.items .bg-holder {
  display: none;
}

/* for tablet */
@media screen and (min-width: 768px) {
  .home_section2 {
    padding-left: 98px;
  }

  .home_section2 .separator {
    margin-top: 100px;
  }

  .team-features .item {
    display: flex;
    text-align: left;
    width: 80%;
    margin-top: 32px;
  }

  .team-features .item:first-child {
    margin-top: 20px;
  }

  .team-features {
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .home_section2 img {
    margin: 0 20px 16px 0;
  }

  .home_section2 h4 {
    margin-bottom: 16px;
  }
}

/* for desktop */
@media screen and (min-width: 1440px) {
  .home_section2 {
    padding-left: 165px;
  }

  .home_section2 .separator {
    margin-top: 140px;
    margin-bottom: 54px;
  }

  .home_section2 h1 {
    font-size: 48px;
    line-height: 48px;
  }

  .head .bg-holder {
    display: none;
  }

  .home_section2 .head {
    width: 58%;
  }

  .home_section2 .head-info {
    width: 90%;
  }

  .home_section2 .content {
    flex-direction: row;
    justify-content: space-between;
  }

  .home_section2 .items {
    display: flex;
    justify-content: space-between;
  }

  .team-features .item {
    width: 100%;
  }

  .team-features .item:first-child {
    margin-top: 33px;
  }

  .home_section2 .team-features {
    margin-top: 165px;
    margin-bottom: 140px;
    width: 80%;
  }

  .items .bg-holder {
    display: block;
    align-self: flex-end;
  }
}

/* ================================================================ home_section3 CSS  */

/* for mobile (Default)*/
.home_section3 {
  background-color: var(--secondaryDJG);
  font-family: var(--primaryFont);
  color: var(--primaryW);
}

.home_section3__svg1 img {
  width: 147px;
  height: 100px;
}

.home_section3 h1 {
  margin-top: 40px;
  margin-left: 24px;
  margin-right: 24px;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}

.home_section3 .text_secondaryRB {
  color: var(--secondaryRB);
}

.home_section3__card {
  margin-top: 84px;
  margin-left: 24px;
  margin-right: 24px;
  text-align: center;
}

.home_section3 .container {
  position: relative;
}

.home_section3__card .citation {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 16px;
  position: relative;
  z-index: 2;
}

.home_section3__card .img_quotes {
  position: absolute;
  width: 67px;
  height: 56px;
  top: -36px;
  left: 0;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

.home_section3__card .name {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 2px;
}

.home_section3__card .job_title {
  font-weight: 500;
  font-style: italic;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 16px;
}

.home_section3__card .avatar {
  border-radius: 50%;
  width: 62px;
  height: 62px;
  border: 2px solid #c4fffe;
}

.home_section3__svg2 {
  display: flex;
  padding-top: 64px;
  justify-content: right;
}

.home_section3__svg2 img {
  width: 200px;
  height: 100px;
}

/* for tablet */
@media screen and (min-width: 768px) {
  .home_section3 h1 {
    margin-top: 0px;
    margin-left: 97px;
    margin-right: 98px;
  }

  .home_section3__card {
    margin-left: 97px;
    margin-right: 98px;
  }

  .home_section3__svg2 {
    padding-top: 0px;
  }
}

/* for desktop */
@media screen and (min-width: 1440px) {
  .home_section3 h1 {
    margin-top: 40px;
    margin-left: 254px;
    margin-right: 254px;
    font-size: 48px;
    line-height: 48px;
  }

  .home_section3__cards {
    display: flex;
    padding-left: 165px;
    padding-right: 165px;
    gap: 30px;
  }

  .home_section3__card {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 92px;
  }

  .home_section3__card .citation {
    padding-right: 2px;
    padding-left: 2px;
    margin-bottom: 24px;
  }

  .home_section3__card .job_title {
    margin-bottom: 32px;
  }

  .home_section3__svg2 {
    padding-top: 51px;
  }
}

/* ================================================================ home_banner CSS  */
/* for mobile (Default)*/
.banner {
  position: relative;
  width: 100%;
  background: #f67e7e;
  height: 302px;
}

.banner_line {
  display: flex;
  padding-top: 83px;
  flex-direction: column;
  gap: 24px;
}

.banner_firstLine {
  position: relative;
  margin-left: 24px;
  margin-right: 24px;
  height: 64px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  color: #012f34;
}

.banner_btn {
  border: none;
  color: #012f34;
  text-decoration: none;
  display: inline-block;
}

.banner_text {
  font-size: 18px;
  line-height: 28px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  padding: 7px 31px 9px 30px;
}

.banner_contact_us {
  width: 153px;
  height: 48px;
  border: 2px solid #012f34;
  border-radius: 24px;
}

.banner_contact_us:hover {
  background: #012f34;
  color: #ffffff;
}

.banner_link {
  margin: auto;
}

.banner_bg-pattern-home-6 {
  position: relative;
  margin-top: -39px;
  width: 200px;
  height: 200px;
  mix-blend-mode: normal;
  opacity: 1;
  z-index: 0;
}

/* for tablet */
@media screen and (min-width: 768px) {
  .banner {
    height: 200px;
  }

  .banner_line {
    padding-top: 69px;
    flex-direction: row;
    gap: 0px;
  }

  .banner_firstLine {
    position: relative;
    width: 336px;
    margin: 15px 41px 15px 97px;
    text-align: left;
    height: 32px;
  }

  .banner_link {
    margin-right: 98px;
    position: relative;
  }

  .banner_bg-pattern-home-6 {
    margin-top: -53px;
  }
}
/* for desktop */
@media screen and (min-width: 1440px) {
  .banner_line {
    padding-top: 61px;
  }

  .banner_firstLine {
    width: 504px;
    margin: 15px 130px 15px 263px;
    float: left;
    height: 48px;
    font-size: 48px;
    line-height: 48px;
  }

  .banner_link {
    margin-right: 260px;
  }

  .banner_bg-pattern-home-6 {
    margin-top: -83px;
  }
}
/* ================================================================ home_footer CSS  */
/* for mobile (Default)*/

footer {
  position: absolute;
  height: 432px;
  width: 100%;
  background-color: #002529;
}

footer .footeriui {
  padding: 66px 24px 64px 24px;
}

footer .logo {
  width: 94.5px;
  height: 24px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

footer .homeabout {
  display: flex;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  gap: 24px;
}

.homeabout a {
  text-decoration: none;
  color: #ffffff;
}

.homeabout:first-child {
  margin-left: -4%;
}

.fb:hover,
.twitter:hover {
  cursor: pointer;
  fill: rgb(246, 126, 126);
}

.homeabout a:hover {
  cursor: pointer;
  color: rgb(246, 126, 126);
}

.middle {
  padding-top: 24px;
  padding-bottom: 40px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
  text-align: center;
}

.right {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}

.fb {
  width: 24px;
  height: 24px;
  fill: white;
}

.twitter {
  height: 19.5px;
  width: 24px;
  fill: #fff;
}

.right > .links {
  display: flex;
  gap: 16px;
  align-items: center;
}

.links .twitter {
  display: flex;
  align-items: center;
}

.copyright {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
  text-align: center;
}

/* for tablet */
@media screen and (min-width: 768px) {
  footer {
    height: 271px;
  }

  footer .footeriui {
    position: relative;
    padding: 56px 40px 56px 39px;
  }

  .homeabout,
  .left > a {
    z-index: 3;
  }

  .homeabout:first-child {
    margin-left: 0;
  }

  .left {
    position: absolute;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 53px;
  }

  .middle {
    padding: 0;
    position: relative;
    text-align: right;
  }

  .right {
    padding-top: 34px;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* for desktop */
@media screen and (min-width: 1440px) {
  footer .logo {
    width: 160px;
    height: 40.63px;
  }

  footer {
    height: 196px;
  }

  footer .footeriui {
    padding: 48px 165px 48px 165px;
  }

  footer .homeabout {
    font-size: 18px;
    line-height: 28px;
    gap: 40px;
    margin-left: -8%;
  }

  .left {
    position: absolute;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
  }

  .middle {
    padding: 0;
    position: absolute;
    margin-left: 20%;
    text-align: left;
    display: flex;
    justify-content: center;
  }

  .right {
    gap: 51px;
    padding: 0;
    flex-direction: column;
    align-items: flex-end;
  }
}
