@import url("homeStyle.css");
@import url("aboutStyle.css");
@import url("contactStyle.css");

:root {
  /* Šriftas */
  --primaryFont: "Livvic", sans-serif;

  /* Spalvos */
  --primaryMG: #014e56;
  --primaryLC: #f67e7e;
  --primaryW: #ffffff;

  --secondaryRB: #79c8c7;
  --secondaryPB: #2c6269;
  --secondaryDJG: #004047;
  --secondarySSG: #012f34;
  --secondaryDG: #002529;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}
